# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# vscode pycharm
.vscode/
.idea/

# 模型文件
**/ckpts/bert*
**/ckpts/chinese_L-12_H-768_A-12/*
**/ckpts/crf*
**/ckpts/bilstm*

*.suo
*.ntvs*
*.njsproj
*.sln
**/log.txt
app/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*